/* buttoncolor #ffbb33 */
@import url('https://fonts.googleapis.com/css2?family=Nunito');

#navbar {
    background-color: purple;
    margin-bottom: 1.5rem;
}

body{
    background-color: #3B1C75;
    font-family: Nunito, sans-serif;
}

body h1 {
    font-weight: 500;
    text-align: center;
    padding-bottom: 1.5rem;
}

#footer {
    background-color: grey;
}

#footer .links a {
    color: rgba(255, 255, 255, 0.6);
    margin: 0 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#footer #copyright {
    background-color: rgba(0, 0, 0, 0.2);
}

.footer-link {
    text-decoration: underline;
    cursor: pointer;
}

.footer-link:hover {
    text-decoration: none;
}

#indexFlexWrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
}
  
#indexContent {
    padding-bottom: 1.5rem;
}

#indexFooter {
    margin-top: auto;
}

/* groups css */

tbody tr:hover {
    background-color: grey;
}