/* buttoncolor #ffbb33 */
@import url('https://fonts.googleapis.com/css2?family=Nunito');

/* makes input fields glow purple when focused */
.form-control:focus {
    border-color: purple;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(128,0,128, 0.6);
}

#indexContentFlex{
    padding-top: 20px
}

body{
    background-color: #3B1C75;
    font-family: Nunito, sans-serif;
}

body h1 {
    font-weight: 500;
    text-align: center;
    padding-bottom: 1.5rem;
}

#indexFlexWrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
}
  
#indexContent {
    padding-bottom: 1.5rem;
}

#indexFooter {
    margin-top: auto;
}

/* groups css */

tbody tr:hover {
    background-color: grey;
}